@{
    ViewData["Title"] = "Giải phương trình bậc nhất";
}

<form asp-action="">
  <div class="mb-3">
    <label for="a" class="form-label">Hệ số a:</label>
    <input type="text" class="form-control" id="a" name="a">
  </div>
  <div class="mb-3">
    <label for="b" class="form-label">Hệ số b:</label>
    <input type="text" class="form-control" id="b" name="b">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1>Kết quả: @ViewBag.Result</h1>